        body { font-family: 'Inter', sans-serif; }
        .tab-active {
            border-bottom-color: #4f46e5;
            color: #4f46e5;
            font-weight: 600;
        }
        /* Style for input fields to make them blend in */
        .form-input-table {
            @apply w-full p-1 bg-transparent rounded-md border border-transparent focus:bg-white focus:border-gray-300 focus:ring-1 focus:ring-indigo-500 transition-shadow duration-150;
        }
        .form-input-table.amount {
            @apply text-right;
        }